@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<div>
    <object width="300" height="300">
    <param name="movie" value="http://www.youtube.com/v/quMyNV7jg7g">
    </param><param name="allowFullScreen" value="true">
    </param><param name="allowscriptaccess" value="always">
    </param><embed src="http://www.youtube.com/v/quMyNV7jg7g" type="application/x-shockwave-flash" allowscriptaccess="always" 
    allowfullscreen="true" width="425" height="344">
    </embed>
</object>
        </div>